<div id="remittance-approval" class="recent-activity my-listing">
    <div class="act-title">
        <h5><span class="header-text">Accrued For Approval (12)</span></h5>
        <p>Calculated accrued list for approval.</p>

        <p class="breadcrumbs">
            <i class="fa fa-link"></i>
            <a href="/Dashboard/Index">Home</a> / <a href="/Accrued/Index">Accrued Option</a> / <span class="subheader-text">Accrued for Approval</span>
        </p>
    </div>
    <div class="row">
        <form class="row hero__form v1 filter listing-filter list-filter">
            <div class="dropdown show">
                <a id="st-dropdown-action" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    -- Status --
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 300px;">
                    <a id="st-all" data-id="0" data-description="-- Status --" class="dropdown-item" href="" onclick="return dropdownAction(this, 'st-dropdown-action');">-- Status --</a>
                    <a id="st-approved" data-id="1" data-description="Approved" class="dropdown-item" href="" onclick="return dropdownAction(this, 'st-dropdown-action');">Approved</a>
                    <a id="st-forapproval" data-id="2" data-description="For Approval" class="dropdown-item" href="" onclick="return dropdownAction(this, 'st-dropdown-action');">For Approval</a>
                    <a id="st-rejected" data-id="3" data-description="Rejected" class="dropdown-item" href="" onclick="return dropdownAction(this, 'st-dropdown-action');">Rejected</a>
                </div>
            </div>

            <div class="input-search">
                <input id="search-text" class="search-text" type="text" placeholder="Search Accrued for approval here...">
            </div>
        </form>
        <div id="wrapper" class="col-md-12">
            <section>
                <div class="data-container">
                    <table id="overremittance-forapproval-table" class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">VDMS Number</th>
                                <th scope="col">Beneficiary Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Claim Number</th>
                                <th scope="col">Amount</th>
                                <th scope="col" class="text-center">Status</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">09736</th>
                                <td>Sappari Guillizzoni</td>
                                <td>40</td>
                                <td>MALE</td>
                                <td>OV-MCO-13-001995</td>
                                <td>6,499.00</td>
                                <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">03778</th>
                                <td>Guillermo Button</td>
                                <td>38</td>
                                <td>MALE</td>
                                <td>OW-MCO-04-002377</td>
                                <td>1,997.00</td>
                                <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">16627</th>
                                <td>Mariah Maculangan</td>
                                <td>41</td>
                                <td>FEMALE</td>
                                <td>DA-MCO-12-062881</td>
                                <td>0.00</td>
                                <td class="text-center"><span class="badge badge-danger">Rejected</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">07361</th>
                                <td>Valerie Liberty</td>
                                <td>25</td>
                                <td>FEMALE</td>
                                <td>OV-MCO-23-066123</td>
                                <td>8,231.00</td>
                                <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">01524</th>
                                <td>Clas Mirano</td>
                                <td>21</td>
                                <td>MALE</td>
                                <td>OV-MCO-15-088123</td>
                                <td>2,199.00</td>
                                <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">09826</th>
                                <td>Aurora Valmores</td>
                                <td>43</td>
                                <td>FEMALE</td>
                                <td>OV-MCO-12-927616</td>
                                <td>40,530.00</td>
                                <td class="text-center"><span class="badge badge-warning">For Approval</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">04516</th>
                                <td>Flecitus Vitug</td>
                                <td>19</td>
                                <td>MALE</td>
                                <td>OV-MCO-15-078251</td>
                                <td>816.00</td>
                                <td class="text-center"><span class="badge badge-danger">Rejected</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">09271</th>
                                <td>Ernesto Torrado</td>
                                <td>14</td>
                                <td>MALE</td>
                                <td>OV-MCO-23-005241</td>
                                <td>8,231.00</td>
                                <td class="text-center"><span class="badge badge-danger">Rejected</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">03970</th>
                                <td>Rambunaian Mangingisa</td>
                                <td>32</td>
                                <td>MALE</td>
                                <td>OV-MCO-15-056178</td>
                                <td>3,401.00</td>
                                <td class="text-center"><span class="badge badge-success">Approved</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">05962</th>
                                <td>Sherwin Tesoro</td>
                                <td>16</td>
                                <td>MALE</td>
                                <td>OV-MCO-23-066123</td>
                                <td>3,412.00</td>
                                <td class="text-center"><span class="badge badge-success">Approved</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i> View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <div id="pagination-overremittance-forapproval"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <button type="button" id="export-excel-forapproval-button" class="btn btn-success"><i class="far fa-file-excel"></i> Export to Excel</button>
                        <button type="button" id="export-pdf-forapproval-button" class="btn btn-danger"><i class="far fa-file-pdf"></i> Export to PDF</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/accrued")
@Scripts.Render("~/Scripts/excelhelper")
@Scripts.Render("~/Scripts/pdfhelper")