@{
    ViewBag.Title = "SOD Entry";
}
<h2>Statement of Distribution</h2>
<div id="sod-form" class="recent-activity my-listing">
    <div class="act-title">
        <h5><span class="header-text">Accrued</span></h5>
        <p class="breadcrumbs">
            <i class="fa fa-link"></i>
            <a href="/Accrued/Index">Accrued Option</a> / <span class="subheader-text">SOD</span>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3 tab-card">
                @*<div class="card-header tab-card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="smtp-tab" data-toggle="tab" href="#two" role="tab" aria-controls="One" aria-selected="true">Simple Mail Transfer Protocol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="password-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Two" aria-selected="false">Password</a>
                        </li>
                    </ul>
                </div>*@

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade in show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                        <p><mark><i>All fields with red asterisk (*) are required to fill.</i></mark></p>
                        <br />

                        <div id="general-updated-alert" class="alert alert-success" role="alert">
                            <strong><i class="lnr lnr-bookmark"></i> Changes has been successfully saved.</strong>
                        </div>

                        <div id="general-validation-alert" class="alert alert-danger" role="alert">
                            <strong><i class="lnr lnr-bookmark"></i> Please fill-out required fields below.</strong>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Benificiary Name <span>*</span></label>
                                    <input id="benificiary-name-text" type="text" class="form-control" placeholder="E.g. Jose Rizal" autofocus>
                                </div>
                                <div class="form-group">
                                    <div class="bs-dropdown dropdown show"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Amount <span>*</span></label>
                                    <input id="amount-number-text" type="text" class="form-control" placeholder="E.g. Php 347,012">
                                </div>
                                <div class="form-group">
                                    <label>Mobile Number <span>*</span></label>
                                    <input id="company-mobile-text" type="text" class="form-control" placeholder="E.g. 09567392486">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address <span>*</span></label>
                            <textarea id="company-address-text" class="form-control" rows="2"></textarea>
                        </div>
                        <br />
                        <button id="save-sod-btn" type="submit" class="btn btn-primary"><i class="lnr lnr-thumbs-up"></i> Save Changes</button>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/sod")