@{
    ViewBag.Title = "Home Page";
}
@section styles {
    <style>
        h1 {
            text-align: center;
            color: #543fff;
        }
    </style>
}

<div class="dash-content spacer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="jumbotron text-center">
                    <h1>Welcome to<br/>PVAO Portal</h1>
                    <p>Get familiar with the dashboard, here are some ways to get started.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="~/Content/images/landing-page.png" />
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/home")