@{
    ViewBag.Title = "Home Page";
}

<div class="dash-content spacer homepage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="jumbotron text-center">
                    <h1>Welcome to PVAO Portal</h1>
                    <p>Get started by opening a dashboard, over-remittance, accrued or additional funded cheques.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="~/Content/images/landing-page.jpg" />
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/home")