@{
    ViewBag.Title = "Home Page";
}
<div class="dash-content spacer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="recent-activity">
                    <div class="act-title">
                        <h5><span id="user-greetings"></span></h5>
                    </div>
                    <ul class="act-wrap">
                        <li class="alert br-o fade show">
                            Welcome to <span class="review-stat">Philippine Veterans Affairs Office</span> web portal!
                            <p>Get started by opening a dashboard, over remittance, veterans or beneficiary list.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/home")